doctype html
head
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Thanks for choosing us
  style
    include ../static/output.css
  div.heading
    span.material-icons support_agent
    h2 Someone from our team will contact you soon
    |
    |
    |
    h5 Redirecting ...
block scripts 
    script(src="../static/redirect.js") 
