extends base.pug

block title 
    title 
     | Our Qualified Trainers
block style 
    style 
        include ../static/base.css
        include ../static/trainers.css
        include ../static/trainers2.css
block content 
    h2 Meet Our qualified Instructors
    div.container
        div.people
            div.person
                img.personimg(src="../static/people1.jpeg")
                h3 Samuel Charles 
                h4 Gym Instructor
            div.person
                img.personimg(src="../static/people2.jpeg")
                h3 Jack Homes 
                h4 Diet Instructor
            div.person
                img.personimg(src="../static/people3.jpeg")
                h3 Sunny Chopra 
                h4 Exercise Specialist
        div.people
            div.person
                img.personimg(src="../static/people4.jpeg")
                h3 Kim Yong 
                h4 Senior Instructor
            div.person
                img.personimg(src="../static/people5.jpeg")
                h3 Sara Jones 
                h4 Gym Instructor
            div.person
                img.personimg(src="../static/people6.jpeg")
                h3 Charles Hills 
                h4 Aerobics Specialist